/ResourceExporter/Binaries/Win64/*.pdb
/ResourceExporter/Binaries/Win64/*.dll
/ResourceExporter/Binaries/Win64/*.modules
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.res
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.h
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.json
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.cpp
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.obj
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.response
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.old
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.txt
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.exp
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Development/ResourceExporter/*.lib
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Inc/ResourceExporter/*.cpp
/ResourceExporter/Intermediate/Build/Win64/UE4Editor/Inc/ResourceExporter/*.h

/RenderDataExporter/Binaries/Win64/*.pdb
/RenderDataExporter/Binaries/Win64/*.dll
/RenderDataExporter/Binaries/Win64/*.modules
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.res
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.h
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.json
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.cpp
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.obj
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.response
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.old
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.txt
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.exp
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Development/RenderDataExporter/*.lib
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Inc/RenderDataExporter/*.cpp
/RenderDataExporter/Intermediate/Build/Win64/UE4Editor/Inc/RenderDataExporter/*.h
